body {
    margin: 0;
    /* background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%); */
    overflow-y: hidden;
}
.night {
    height: 40vh;
    width: 70vw;
    border: 1px solid black;
    margin: 5rem auto;
    background: url(./asset/Img_1.png);
    position: relative;
    background-size: cover;
    box-shadow: 1px 2px 60px rgba(0, 0, 0, 0.4);
    overflow-x: hidden;
}
